@font-face {
    font-family: Norse-Bold;
    src: url(./fonts/Norse-Bold.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --pinkClr: #A682FF;
    --purpleClr: #715AFF;
    --darkBlueClr: #5887FF;
    --lightBlueClr: #55C1FF;
    --greyClr: #102E4A;
}

html {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: url(./img/background.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 98vh;
}

.formContainer {
    width: min(450px, 50vw);
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 2px solid   white;
}

form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px 15px;
    justify-content: center;
}

h1 {
    color:  white;
    text-align: center;
    margin: 20px 0 5px;
    width: 100%;
    font-family: Norse-Bold;
    font-size: 4rem
}

.startText {
    color:  white;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

h4 {
    color:  white;
    width: 100%;
    text-align: center;
    margin-bottom: 15px
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

label {
    color:  white;
    margin-bottom: 5px;
    align-self: start;
    font-size: 1rem
}

input {
    height: 1.5rem;
    border-radius: 4px;
    background: transparent;
    color:  white;
    padding-left: 10px;
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid    white;
}

.smallInput {
    width: 45%;
}

.largeInput {
    width: 93%;
}

input:valid {
    border-bottom: 2px solid    green;
}

input:invalid {
    border-bottom: 2px solid red;
}


#confirmPsw:valid {
    border-bottom: 2px solid red;
}


input:focus {
    outline: none;
}

button {
    border: none;
    padding: 0.5em;
    background: var(--darkBlueClr);
    color:  white;
    cursor: pointer;
    border-radius: 10px;
    width: 93%;
    font-size: 1rem;
    font-weight: 700;
}

h4 {
    color:  white;
    width: 93%;
    text-align: center;
    margin: 0px 0 10px;
}

h5 {
    color:  white;
    width: 93%;
    text-align: center;
    margin: 0px 0 10px;
}

#message {
    width: 93%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 40px;
}

#message p {
    width: 50%;
}

.valid {
    color:  green;
}

.invalid {
    color: red;
}

.validInput {
    border-bottom: 2px solid green !important;
}

.InvalidInput {
    border-bottom: 2px solid red;
}

button:hover {
    background: green;
}

a {
    color: white;
}

a:hover {
    color: green;
}

img {
    position: absolute;
    width: 150px;
    height: 150px;
    z-index: -1;
    top: 240px;
    filter:opacity(.1);
}
